@import url('https://themes.googleusercontent.com/fonts/css?kit=NrwVuWlvai715zEUI4XN1A');

#body {
	background-image: url("images/lotofrds.png");
	background-size: 100%;
	background-attachment: fixed;
	
	font-family: Comic Sans MS;
	font-size: 24pt;
}

#index-body {
	background:	black;
	font-family: Comic Sans MS;
	font-size: 24pt;
}

h1 {
	color: rgba(158,217,247);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.pull-right-side {
	display: block;
	width: 68%;
	margin-top: 10%;
	padding-left: 10%;
}

.center-text {
	text-align: center;
}

.occupy-fullwidth {
	width: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.left-image {
	display: inline-block;
}

.link {
	color: #9ED9F7;
}

@keyframes spin-left {
	0% { transform: rotate(-180deg); }
	50% { transform: rotate(0deg); }
	100% { transform: rotate(180deg); }
}
@-moz-keyframes spin-left {
	0% { -moz-transform: rotate(0deg); }
	50% { -moz-transform: rotate(-180deg); }
	100% { -moz-transform: rotate(180deg); }
}
@-webkit-keyframes spin-left {
	0% {-webkit-transform: rotate(0deg); }
	50% { -webkit-transform: rotate(-180deg); }
	100% { -webkit-transform: rotate(180deg); }
}
@-o-keyframes spin-left {
	100% { -o-transform: rotate(180deg); }
	50% { -o-transform: rotate(0deg); }
	0% { -o-transform: rotate(-180deg); }
}
.spin-left {
	animation: spin-left 2s linear 0s infinite reverse;
	-moz-animation: 2s linear 0s reverse none infinite spin-left;
	-webkit-animation: spin-left 2s linear 0s infinite reverse;
	-0-animation: spin-left 2s linear 0s infinite reverse;
	-webkit-animation-play-state: paused;
	-o-animation-play-state: paused;
	-moz-animation-play-state: paused;
	animation-play-state: paused;
}
.spin-left:hover {
	-webkit-animation-play-state: running;
	-o-animation-play-state: running;
	-moz-animation-play-state: running;
	animation-play-state: running;
}
.rotate-left {
	animation: spin-left 2s linear 0s infinite normal;
	-moz-animation: 2s linear 0s normal none infinite spin-left;
	-webkit-animation: spin-left 2s linear 0s infinite normal;
	-0-animation: spin-left 2s linear 0s infinite normal;
}

@keyframes spin-right {
	0% { transform: rotate(180deg); }
	50% { transform: rotate(0deg); }
	100% { transform: rotate(-180deg); }
}
@-moz-keyframes spin-right {
	0% { -moz-transform: rotate(180deg); }
	50% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(-180deg); }
}
@-webkit-keyframes spin-right {
	0% {-webkit-transform: rotate(180deg); }
	50% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-180deg); }
}
@-o-keyframes spin-right {
	100% { -o-transform: rotate(-180deg); }
	50% { -o-transform: rotate(0deg); }
	0% { -o-transform: rotate(180deg); }
}
.spin-right {
	animation: spin-right 2s linear 0s infinite reverse;
	-moz-animation: 2s linear 0s reverse none infinite spin-right;
	-webkit-animation: spin-right 12s linear 0s infinite reverse;
	-0-animation: spin-right 2s linear 0s infinite reverse;
	-webkit-animation-play-state: paused;
	-o-animation-play-state: paused;
	-moz-animation-play-state: paused;
	animation-play-state: paused;
}
.spin-right:hover {
	-webkit-animation-play-state: running;
	-o-animation-play-state: running;
	-moz-animation-play-state: running;
	animation-play-state: running;
}
.rotate-right {
	animation: spin-right 2s linear 0s infinite normal;
	-moz-animation: 2s linear 0s normal none infinite spin-right;
	-webkit-animation: spin-right 2s linear 0s infinite normal;
	-0-animation: spin-right 2s linear 0s infinite normal;
}

/* keyframes definition for WebKit browsers */
@-webkit-keyframes travel2 {
	from { }
	to {
		left: 100%;
		margin-left: -50px;
		-webkit-transform: rotateZ(360deg) rotateY(360deg);
	}
}

@-webkit-keyframes bounce2 {
	from { }
	to {
		bottom: 100%;
		margin-bottom: -50px;
		-webkit-transform: rotateZ(360deg);
	}
}

/* keyframes definition for other browsers */
@keyframes travel2 {
	from {
	left: 0;
	margin-left: 0;
		-moz-transform: rotate(0) rotateY(0);
		-ms-transform: rotate(0) rotateY(0);
		transform: rotate(0) rotateY(0);
	}
	to {
		left: 100%;
		margin-left: -50px;
		-moz-transform: rotateZ(360deg) rotateY(360deg);
		-ms-transform: rotateZ(360deg) rotateY(360deg);
		transform: rotateZ(360deg) rotateY(360deg);
	}
}

@keyframes bounce2 {
	from {
		bottom: 0;
		margin-bottom: 0;
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		bottom: 100%;
		margin-bottom: -50px;
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* styles for the stage and animated elements */
#stage2 {
	position: relative;
	margin: 1em 0;
	width: 544px;
	height: 320px;
	box-shadow: inset 0 0 20px #fff;
	background: url(/images/meadow.jpg) no-repeat;
	-webkit-perspective: 200px;
	-moz-perspective: 200px;
	-ms-perspective: 200px;
	perspective: 200px;
}

#traveler2 {
	position: absolute;
	width: 100%;
	height: 100%;

	-webkit-animation-name: travel2;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 4.8s;

	animation-name: travel2;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 4.8s;
}

#stage2:hover #traveler2 { outline: 1px dashed #666; }

#bouncer2 {
	width: 80%;
	position: absolute;

	-webkit-animation-name: bounce2;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-duration: 4.2s;

	animation-name: bounce2;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-duration: 4.2s;
}

.background_image {
	width: 10%;
	position: fixed;
}

.background_video {
	width: 30%;
}

#quotes {
	color: white;
}

.single_quote {
	display: block;
	
	background-color: rgba(158,217,247,0.5);
	
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
}

.red {
	color: rgb(238,64,53);
	
	-ms-transform: rotate(-1deg); /* IE 9 */
	-webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
	transform: rotate(-1deg);
}

.orange {
	color: rgb(243,119,55);
	
	-ms-transform: rotate(-0.1deg); /* IE 9 */
	-webkit-transform: rotate(-0.1deg); /* Chrome, Safari, Opera */
	transform: rotate(-0.1deg);
}

.yellow {
	color: rgb(249,233,122);
	
	-ms-transform: rotate(0.1deg); /* IE 9 */
	-webkit-transform: rotate(0.1deg); /* Chrome, Safari, Opera */
	transform: rotate(0.1deg);
}

.green {
	color: rgb(122,192,67);
	
	-ms-transform: rotate(1deg); /* IE 9 */
	-webkit-transform: rotate(1deg); /* Chrome, Safari, Opera */
	transform: rotate(1deg);
}